<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
          <img src="https://www.baidu.com/favicon.ico">
      </a>
      <ul class="nav pull-right">
        <li><a href="/">首页</a></li>
        <li><a href="/blog">博客</a></li>
        <li><a href="/weibo">AJAX微博</a></li>
        <li><a href="/webchat">WEB聊天室</a></li>
    {% if session.login %}
        <li>
          <a href="/dashboard">个人主页</a>
        </li>
        <li>
          <a href="/logout">注销</a>
        </li>
    {% else %}
        <li>
          <a href="/register">注册</a>
        </li>
        <li>
          <a href="/login">登录</a>
        </li>
    {% endif %}
      </ul>
      <a class="btn btn-navbar" id="responsive-sidebar-trigger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
  </div>
</div>