{% extends 'includes/base.html' %}
{% block head %}
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/prism.js"></script>
<script src="/static/js/prism-autoloader.min.js"></script>
<link href="//cdn.bootcss.com/prism/1.8.0/themes/prism.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="panel">
    <div class="header topic_header">
        <span class="topic_full_title">博客标题：{{blog.title}}</span>
    </div>
    <div class="changes">
        <span>{{blog.created_time}}</span>
        <span>{{blog.ownner().username}}</span>
        <span>{{blog.views}}</span>
        <a href="/blog/edit?id={{blog.id}}">编辑</a>
        <a href="/blog/delete?id={{blog.id}}">删除</a>
    </div>
    <div class="inner topic">
        <div class="topic_content">
            <div class="markdown-text">
                <p>{{blog.content}}</p>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="header">
        <span class="col_fade">{{blog.comment_count()}} 回复</span>
    </div>
    {% for comment in blog_comments %}
    <div class="cell reply_area reply_item">
        <div class="author_content">
            <a class="user_avatar" href="/user/{{comment.ownner().username}}"><img src="{{comment.ownner().image}}"></a>
            <div class="user_info">
                <a class="dark reply_author"
                   href="/user/{{comment.ownner().username}}">{{comment.ownner().username}}</a>
                <a class="reply_time">{{comment.created_time}}</a>
                <a href="/blog_comment/edit?id={{comment.id}}">编辑</a>
                <a href="/blog_comment/delete?id={{comment.id}}">删除</a>
            </div>
        </div>
        <div class="markdown-text">
            <p>{{comment.content}}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="panel">
    <div class="header">
        <span class="col_fade">添加评论</span>
    </div>
    <div class="inner reply">
        <form id="reply_form" action="/blog_comment/add" method="post">
            <input name="blog_id" value="{{blog.id}}" hidden>
            <textarea class="form-control col-xs-12" name="content" rows="8" style="min-width: 100%"></textarea>
            <input class="span-primary submit_btn" type="submit" value="提交评论">
        </form>
    </div>
</div>
{% endblock %}

{% block afterbody %}

<script>
    var e = function (sel) {
        return document.querySelector(sel)
    }

    var es = function (sel) {
        return document.querySelectorAll(sel)
    }

    var markContents = function () {
        // markdown -> html 的处理放在高亮前面
        // 因为高亮是针对 html 格式的
        // lang -> language 不需要转 prism 自动转了
        var contentDivs = es('.markdown-text')
        for (var i = 0; i < contentDivs.length; i++) {
            var contentDiv = contentDivs[i]
            console.log('pre marked', contentDiv.textContent)
            var content = marked(contentDiv.textContent)
            console.log('after marked', content)
            contentDiv.innerHTML = content
        }
    }

    var highlight = function() {
         // 自动加载对应的语言的 js
        Prism.plugins.autoloader.languages_path = 'https://cdn.bootcss.com/prism/1.13.0/components/'
    }

    var __main = function () {
        markContents()
        highlight()
    }

    __main()

</script>
{% endblock %}