{% extends 'includes/base.html' %}
{% block head %}
    <script src="/static/js/marked.min.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/prism-autoloader.min.js"></script>
{% endblock %}


{% block body %}
    <h3>博客标题：{{blog.title}}</h3>
    <h3>作者：{{blog.ownner().username}}</h3>
    <a href="/blog/edit?id={{blog.id}}" class="btn btn-primary">编辑</a>
    <a href="/blog/delete?id={{blog.id}}" class="btn btn-danger">删除</a>
    <h3>博客正文</h3>
    <div class="markdown-text" id="blog-content">
        {{blog.content}}
    </div>
    <h3>博客评论</h3>
    {% for bc in blog_comments %}
        <span>评论{{bc.id}}</span>
        <div class="markdown-text" id="blog-comment-content-{{bc.id}}">
            {{bc.content}}
        </div>
        <a href="/blog_comment/edit?id={{bc.id}}" class="btn btn-primary">编辑</a>
        <a href="/blog_comment/delete?id={{bc.id}}" class="btn btn-danger">删除</a>
        <br>
    {% endfor %}
    <h3>添加评论</h3>
    <form method="post" action="/blog_comment/add">
        <input class="pure-form pure-form-aligned" name="blog_id" value="{{blog.id}}" hidden>
        <div class="form-group">
            <textarea name="content"></textarea>
        </div>
        <p>
            <input class="btn btn-primary" type="submit" value="提交">
        </p>
    </form>
{% endblock %}

{% block afterbody %}

<script>
    var e = function (sel) {
        return document.querySelector(sel)
    }

    var es = function (sel) {
        return document.querySelectorAll(sel)
    }

    var markContents = function () {
        // markdown -> html 的处理放在高亮前面
        // 因为高亮是针对 html 格式的
        // lang -> language 不需要转 prism 自动转了
        var contentDivs = es('.markdown-text')
        for (var i = 0; i < contentDivs.length; i++) {
            var contentDiv = contentDivs[i]
            console.log('pre marked', contentDiv.textContent)
            var content = marked(contentDiv.textContent)
            console.log('after marked', content)
            contentDiv.innerHTML = content
        }
    }

    var highlight = function() {
         // 自动加载对应的语言的 js
        Prism.plugins.autoloader.languages_path = 'https://cdn.bootcss.com/prism/1.13.0/components/'
    }

    var __main = function () {
        markContents()
        highlight()
    }

    __main()
</script>
{% endblock %}