{% extends 'includes/base.html' %}
{% include 'includes/messages.html' %}
{% block content %}
<div class="panel">

    <div class="inner">
        <form method="post" id="signin_form" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="username">用户名</label>
                <div class="controls">
                    <input class="input-xlarge" id="username" name="username" size="60" type="text"
                           autocomplete="off">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">密码</label>
                <div class="controls">
                    <input class="input-xlarge" id="password" name="password" size="60" type="password"
                           autocomplete="off">
                </div>
            </div>
            <input type="submit" class="span-primary" value="登录">
        </form>
    </div>

</div>

{% endblock %}