{% extends 'includes/base.html' %}

{% block body %}
<div class="container">
    {% include 'includes/messages.html' %}
    {% from "includes/formhelper.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.username, class_ = "form-control") }}
        {{ render_field(form.email, class_ = "form-control") }}
        {{ render_field(form.password, class_ = "form-control") }}
        {{ render_field(form.confirm, class_ = "form-control") }}
      </dl>
        <p>
            <input type="submit" class="btn btn-primary" value="注册">
        </p>
    </form>
</div>
{% endblock %}